h1 {
    /*color: #7159c1;*/
}

.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh; /* Ocupa toda a vertical */
    margin: 0 auto; /* COnteuo centralizado*/
    display: flex; /*Todos os divs fiquem um ao lado do outro a não ser que mude a direção*/
    align-items: center;
    justify-content: space-between;
}

.logon-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;

}

.logon-container section.form form {
    margin-top: 100px;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}



